`{{name}}`({{#args}}{{var}}: *{{typePlaceholder}}*{{^last}}, {{/last}}{{/args}})
---
<hr>

put_summary_here

### Downstream Calls 
 #### :meth:`~folder.file.class.method`
    - Description

### Upstream Calls 
 #### :meth:`~folder.file.class.method`
    - Description
    
<hr>

Parameters
---
{{#args}}
:param (*{{typePlaceholder}}*) `{{var}}`: {{descriptionPlaceholder}}
{{/args}}

<hr>

Returns
---
{{#returns}}
:return `variablename` ({{typePlaceholder}}): {{descriptionPlaceholder}}
{{/returns}}
